---
slug: /
layout_name: templates/1
searchable: false
metadata:
  id: 1
  name: index
  enabled: true
  file_type: page
  last_edit: 1565609317309
  is_homepage: true
---
{% include 'modules/siteglide_system/constants' -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Parcel</title>
</head> 
<body>
  <div id="logo" style="display: none;" data-src="{{'images/dont-delete.png' | asset_url}}"></div>   
  <div id="app">Testing parcel!!</div>  
</body>
</html>